/* 
font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Varela Round', sans-serif;
*/

:root {
  --primary-color: hsl(0, 37%, 91%);
  --secondary-color: rgb(22, 22, 22);
}

body {
  background-color: var(--primary-color);
  margin: 100px;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 20px;
}

h2 {
  margin: 20px;
}

.list {
  display: inline-block;
  justify-content: center;
  margin: 35px;
}

.contact {
  background-color: var(--secondary-color);
  padding: 12px;
  margin: 15px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.about-page {
  line-height: 40px;
  display: flex;
  justify-content: center;
}

.image-box {
  display: flex;
  padding: 15px;
  align-items: center;
}

.description-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.appointment {
  background-color: var(--secondary-color);
  padding: 12px;
  margin: 15px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}
.container-fluid {
  padding: 20px;
}

.appointment {
  margin: 20px;
}

.instagram {
  max-width: 100px;
  display: flex;
  align-items: center;
}

.footer {
  margin: 20px;
}

.work-photos {
  display: flex;
  align-content: center;
  margin: 20px;
  max-width: 2000px;
}

@media (max-width: 430px) {
  .contact-me {
    display: none;
  }
  .appointment {
    display: none;
  }
}
